* {
  margin: 0;
  padding: 0;
  
}

header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

maim {
   width: 100%;
   display: flex;

}

.box {
  width: 90%;
  margin: 50px auto;
  display: flex;
  align-items:stretch;
}

.box-main {
  width: ;
  height: ;
  padding: 10px;
  margin: 15px;
  position: relative;
  background-color: #eee;
}

.box1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
  background-color: pink;
  }

.box2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
  background-color: pink;
}

.box3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
  background-color: pink;
  }

 .step-num {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ff9a4b;
  color: #fff;
  padding: 4px 0px 4px 0px ;
}

.title {

}

footer {
  width: 100%;
  height: 50px;
  background-color: #aaa;
}

@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }

  .box {
    width: 90%;
    display: block;
  }

  .box-main {
    margin:0px;
    margin-bottom: 20px;


  }
}
